<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="system.web">
      <section name="sanitizer" requirePermission="false" type="AjaxControlToolkit.Sanitizer.ProviderSanitizerSection, AjaxControlToolkit" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="paypal" type="PayPal.Manager.SDKConfigHandler, PayPalCoreSDK" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <!-- PayPal SDK config -->
  <paypal>
    <settings>
      <!-- The URL that the user must be redirected to in order to login and approve some payment actions-->
      <add name="paypalUrl" value="https://www.sandbox.paypal.com/webscr?cmd=" />
      <!-- The API endpoint -->
      <add name="endpoint" value="https://api-3t.sandbox.paypal.com/2.0" />
      <add name="IPNEndpoint" value="https://www.sandbox.paypal.com/cgi-bin/webscr" />
      <!--<add name="PayPalAPIAA" value="https://api-3t.sandbox.paypal.com/2.0"/>-->
      <!--<add name="PayPalAPI" value="https://api-3t.sandbox.paypal.com/2.0"/>-->
      <!-- Connection timeout in milliseconds -->
      <!--Host Url-->
      <add name="HostingEndpoint" value="http://localhost:4060" />
      <!--LocalTunnel Host Url-->
      <add name="IPNListenerUrl" value="https://paypalipntomato.pagekite.me/IPNListener.aspx" />
      <add name="connectionTimeout" value="360000" />
      <!-- The number of times a request must be retried if the API endpoint is unresponsive -->
      <add name="requestRetries" value="3" />
      <add name="IPAddress" value="127.0.0.1" />
    </settings>
    <accounts>
      <!--<account apiUsername="hthirukkumaran-facilitator_api1.gmail.com" apiPassword="1385925475" applicationId="POC-WFTAPP-2P147016TD876783N"
               apiSignature="AUsU6C4zZsciJd1y4t9Nqkp-7Fg4AmeUYQWfebYYKaiZc34rR-KyjvG8"/>-->
      <account apiUsername="accounts-facilitator_api1.wftcloud.com" apiPassword="1386653764" applicationId="POC-WFTAPP-2P147016TD876783N" apiSignature="A1bBAhAg85Zy6rxPVhO-Hti0gxcaAjo425Dcg038kyEXMwBIFYumXwmg" />
    </accounts>
  </paypal>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="PayPalLog.log" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <connectionStrings>
    <!--<add name="ApplicationServices" connectionString="server=192.168.2.131;user id=sa;password=pwd;database=wftcloudcreagx;" providerName="System.Data.SqlClient"/>
    <add name="cgxwftcloudEntities" connectionString="metadata=res://*/WFTCloudDomain.csdl|res://*/WFTCloudDomain.ssdl|res://*/WFTCloudDomain.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.2.131;initial catalog=wftcloudcreagx;persist security info=True;user id=sa;password=pwd;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--Creagx Testing Database-->
    <!--<add name="ApplicationServices" connectionString="server=cgxwftcloud.db.3883545.hostedresource.com;user id=cgxwftcloud;password=Apple!123;database=cgxwftcloud;" providerName="System.Data.SqlClient"/>
    <add name="cgxwftcloudEntities" connectionString="metadata=res://*/WFTCloudDomain.csdl|res://*/WFTCloudDomain.ssdl|res://*/WFTCloudDomain.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cgxwftcloud.db.3883545.hostedresource.com;initial catalog=cgxwftcloud;persist security info=True;user id=cgxwftcloud;password=Apple!123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--WFT Testing Machine-->
    <!--<add name="ApplicationServices" connectionString="server=WIN-9PFV9PIG8DM\SQLEXPRESS;user id=sa;password=Welcome!23;database=wftclouddev;" providerName="System.Data.SqlClient"/>
    <add name="cgxwftcloudEntities" connectionString="metadata=res://*/WFTCloudDomain.csdl|res://*/WFTCloudDomain.ssdl|res://*/WFTCloudDomain.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-9PFV9PIG8DM\SQLEXPRESS;initial catalog=wftclouddev;persist security info=True;user id=sa;password=Welcome!23;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--Local Machine-->
    <add name="ApplicationServices" connectionString="server=WFT;user id=sa;password=ssa;database=cgxwftcloud;" providerName="System.Data.SqlClient" />
    <add name="cgxwftcloudEntities" connectionString="metadata=res://*/WFTCloudDomain.csdl|res://*/WFTCloudDomain.ssdl|res://*/WFTCloudDomain.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WFT;initial catalog=cgxwftcloud;persist security info=True;user id=sa;password=ssa;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="DefaultAdminPassword" value="Welcome!123" />
    <!--SMTP Details to send critical errors in email.-->
    <add key="SMTPServer" value="smtp.gmail.com" />
    <add key="SMTPPort" value="587" />
    <add key="SMTPUsername" value="ravidravi@gmail.com" />
    <add key="SMTPPassword" value="ravi_9345048235" />
    <!--AdminNotification-->
    <add key="SMTPUsernameAdminNotification" value="ravidravi@gmail.com" />
    <add key="SMTPPasswordAdminNotification" value="ravi_9345048235" />
    <add key="SMTPUsernameAdminMail" value="ravidravi@gmail.com" />
    <!-- -->
    <add key="EnableSSL" value="true" />
    <add key="FromEmail" value="ravidravi@gmail.com" />
    <!--Seperate EMail Addresses with comma-->
    <add key="ToEmail" value="" />
    <!--End of Email Section-->
    <!-- Authorizenet keys -->
    <add key="AuNetAPILogin" value="7y8hCC2sB" />
    <add key="AuNetTransactionKey" value="4fM9nWp2c965C44W" />
    <add key="AuNetLiveMode" value="false" />
    <!--Domain name-->
    <add key="DomainName" value="http://sapcloud.creagx.com/UploadedContents/EmailTemplates" />
    <add key="DomainNameForImageBindInMail" value="http://sapcloud.creagx.com" />
    <add key="CloudAnalyticsQuote" value="/UploadedContents/whitepapers/SampleWFTQuote.pdf" />
    <!-- Uploaded Contents path -->
    <!--Local-->
    <add key="UploadeContent" value="" />
    <!--sapcloud-->
    <!--<add key="UploadeContent" value="/wftcloud"/>-->
    <!-- Email Templates Local-->
    <add key="NeedtoUpdateServiceToAdmin" value="/UploadedContents/EmailTemplates/Need to update service provisioning User count.html" />
    <add key="NeedServiceProvisioningToAdminOnOrderPurchased" value="/UploadedContents/EmailTemplates/Need Service Provisioning.html" />
    <add key="NewServiceRequestToAdmin" value="/UploadedContents/EmailTemplates/new-service-request.html" />
    <add key="ServiceReadyToCustomer" value="/UploadedContents/EmailTemplates/Service-Ready.html" />
    <add key="UnSubScribeToUser" value="/UploadedContents/EmailTemplates/Un-Suscribe-service-request-User.html" />
    <add key="UnSubScribeToAdminCustomer" value="/UploadedContents/EmailTemplates/Un-Suscribe-service-request.html" />
    <add key="ForGotPassword" value="/UploadedContents/EmailTemplates/new-password.html" />
    <add key="TrainingRegister" value="/UploadedContents/EmailTemplates/training-register.html" />
    <add key="NewsLetter" value="/UploadedContents/EmailTemplates/Newsletterrequest.html" />
    <add key="NewsLetterTemplate" value="/UploadedContents/EmailTemplates/NewsLetterTemplate.html" />
    <add key="NewsLetterToAdmin" value="/UploadedContents/EmailTemplates/News Letter.html" />
    <add key="ServiceProvisionSuccessNotificationToAdmin" value="/UploadedContents/EmailTemplates/ServiceProvisionSuccessNotificationToAdmin.html" />
    <add key="CRMRequestToSaleOrTechTeam" value="/UploadedContents/EmailTemplates/CRMRequestToSaleOrTechTeam.html" />
    <add key="CRMRequestStatusToCustomerAdmin" value="/UploadedContents/EmailTemplates/CRMRequestStatusToCustomerAdmin.html" />
    <add key="InfraOfferingRegister" value="/UploadedContents/EmailTemplates/InfraOffering-register.html" />
    <add key="CloudAnalytics" value="/UploadedContents/EmailTemplates/CloudAnalytics.html" />
    <add key="CloudCalculator" value="/UploadedContents/EmailTemplates/CloudCalculator.html" />
    <add key="TicketToolUserCreationwebURL" value="http://support.wftcloud.com/itil/requesters" />
    <add key="TicketToolwebURL" value="http://support.wftcloud.com/" />
    <add key="TicketToolSecretKey" value="7524c3f0231cd08d1f619927f6d1825d" />
    <add key="TicketToolAdminInfo" value="rkumar@wftus.com:Apple!123" />
    <add key="BWHANARegister" value="/UploadedContents/EmailTemplates/BWHana-register.html" />
    <add key="CardFailureNotification" value="/UploadedContents/EmailTemplates/CardFailure-Details.html" />
    <add key="NewRequestQuote" value="/UploadedContents/EmailTemplates/NewRequestQuote.html" />
    <!-- Authorize.net -->
    <add key="PaymentFailedOnPurchaseNotificationToAdmin" value="/UploadedContents/EmailTemplates/PaymentFailedOnPurchaseNotificationToAdmin.html" />
    <!-- Paypal -->
    <add key="PaymentTransactionCancelledByCustomerInPaypal" value="/UploadedContents/EmailTemplates/PaymentTransactionCancelledByCustomerInPaypal.html" />
    <add key="ServiceCancelledBuyViaPayPal" value="/UploadedContents/EmailTemplates/ServiceCancelledBuyViaPayPal.html" />
    <add key="RefundNotificationToAdmin" value="/UploadedContents/EmailTemplates/RefundNotificationToAdmin.html" />
    <add key="RefundNotificationToCustomer" value="/UploadedContents/EmailTemplates/RefundNotificationToCustomer.html" />
    <add key="CloudCalculatorToCustomer" value="/UploadedContents/EmailTemplates/CloudCalculatorToCustomer.html" />
    <add key="CloudAnalyticsToCustomer" value="/UploadedContents/EmailTemplates/CloudAnalyticsToCustomer.html" />
    <!--
    <add key="AuNetAPILogin" value="2XxD66aLdsC"/>
    <add key="AuNetTransactionKey" value="26D73VxCk6P9AvLu"/>
    <add key="AuNetLiveMode" value="true"/>
    -->
    <!-- Paypal settings -->
    <add key="RedirectPayPalURL" value="https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout" />
    <!-- HTK Sand Box -->
    <!--<add key="PayPalMode" value="sandbox"/>
    <add key="PayPalClientId" value="ARLcHxB1ZTrsDc3mTqJ8vrTWtEp6pSeKkf3s0xhY-D278mVwd_gtfB4-Qjrk"/>
    <add key="PayPalSecretKey" value="EHX5_RA_HmbEim-oE972P9EhaSPu5ufBmPG0-oNA3XJD6TyHMAI_izMSAvoi"/>

    <add key="PayPalAPIUsername" value="hthirukkumaran-facilitator_api1.gmail.com"/>
    <add key="PayPalAPIPassword" value="1385925475"/>
    <add key="PayPalAPISignature" value="AUsU6C4zZsciJd1y4t9Nqkp-7Fg4AmeUYQWfebYYKaiZc34rR-KyjvG8"/>
    <add key="PayPalMerchantEmailID" value="hthirukkumaran-facilitator@gmail.com"/>-->
    <!-- WFTCloud Sand Box -->
    <add key="PayPalMode" value="sandbox" />
    <add key="PayPalClientId" value="Aal2ShCIz9G2xnjCELviS1X1-CVq8EHIBwmnFB9TNx2XfHN91AVYMCEV9Bbo" />
    <add key="PayPalSecretKey" value="EFeJxxDyPQWCyBVd7k-TUOEevMJESZ9vUOohaBi8raZ2f6KQI9F7Q6RUXEuu" />
    <add key="PayPalAPIUsername" value="accounts-facilitator_api1.wftcloud.com" />
    <add key="PayPalAPIPassword" value="1386653764" />
    <add key="PayPalAPISignature" value="A1bBAhAg85Zy6rxPVhO-Hti0gxcaAjo425Dcg038kyEXMwBIFYumXwmg" />
    <add key="PayPalMerchantEmailID" value="accounts-facilitator@wftcloud.com" />
    <!--Banner Section-->
    <add key="BannerCount" value="10" />
    <!--Brochure Section-->
    <add key="BrochureSliderCount" value="6" />
    <!--Client Logo Section-->
    <add key="ClientLogoSliderCount" value="6" />
    <!--Partner Logo Section-->
    <add key="PartnerLogoSliderCount" value="4" />
    <!--Certificate Logo Section-->
    <add key="CertificateLogoSliderCount" value="2" />
    <!--ExpressCategories-->
    <add key="ExpressCategories" value="14,16,17,18" />
  </appSettings>
  <system.web>
    <trust level="Full" />
    <pages validateRequest="false" />
    <httpRuntime requestValidationMode="2.0" />
    <sanitizer defaultProvider="HtmlAgilityPackSanitizerProvider">
      <providers>
        <add name="HtmlAgilityPackSanitizerProvider" type="AjaxControlToolkit.Sanitizer.HtmlAgilityPackSanitizerProvider" />
      </providers>
    </sanitizer>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/LoginPage.aspx" timeout="2880" defaultUrl="~/Index.aspx" />
    </authentication>
    <!--aspnetresources.com/tools/machineKey-->
    <machineKey validationKey="A8B70F4F5A13DE399F3BA8D062B071FB541A0E1F2A015F869257FF51ECEEB88B6DF1CFF30F1D6284396701B46AE0DBDC6F4DF97DCE398860CD4F6363EB203BAC" decryptionKey="90340040D3B1C4A0EC4670DF190A61CF95A4D260C33BC0C8B2F62CB2F79D3354" validation="SHA1" decryption="AES" />
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Encrypted" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="ServiceSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://apitest.authorize.net/soap/v1/Service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="AuthSOAP.ServiceSoap" name="ServiceSoap" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>